*{
    margin: 0;
    padding: 0;
}
.home{
    height: 880px;
    background: rgb(62,94,199);
    background: linear-gradient(153deg, rgba(62,94,199,1) 0%, rgba(168,165,214,1) 0%, rgba(94,137,255,1) 0%, rgba(213,221,249,1) 96%, rgba(255,255,255,1) 100%);
}

#TittleISDLA{
    font-family: fantasy;
    color: white;
    text-align: center;
    font-size: 140px;
    padding: 10px;
    margin-top: 0px;
}

#subtittle{
    font-family: fantasy;
    color: white;
    text-align: center;
    font-size: 50px;
}

#bienvenida{
    font-family: fantasy;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

#importante{
    background-color:#FF0000;
    font-family: fantasy;
    color: white;
    font-size: 30px;
    margin-left: 250px;
    margin-top: 60px;
    padding: 5px;
    width: 150px;
    border-radius: 15px;
}

#boxhome{
    display: block;
    font-family: fantasy;
    background-color: #CDC2C2;
    color: black;
    font-size: 25px;
    border: black solid 1px;
    border-radius: 15px;
    width: 1400px;
    height: 150px;
    padding: 10px;
    text-align: center;
    margin-left: 250px;
}

.btnacceder{
    display: flex;
    height: 60px;
    width: 230px;
    padding: 20px;
    font-size: 50px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 3px rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgb(56, 91, 207)),to(#002fff));
    background-image: linear-gradient(rgb(56, 91, 207) 10%,#002fff 100%);
    margin-left: 830px;
    margin-top: 30px;   
}

#puntito{
    margin-left: 7px;
}
#puntito2{
    margin-left: -7px;
}
