*{
  margin: 0;
  padding: 0;
}

.login-container{
  display: block;
  background-color: black;
  color: red;
  padding: 30px;
  position: absolute;
  width: 50%;
  z-index: 2;
}

.backLogin{
  height: 880px;
  background: rgb(62,94,199);
  background: linear-gradient(153deg, rgba(62,94,199,1) 0%, rgba(168,165,214,1) 0%, rgba(94,137,255,1) 0%, rgba(213,221,249,1) 96%, rgba(255,255,255,1) 100%);
}
